mat-card {
  background-color: rgba(0,0,0,0);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
}

.taskimg {
  width: 100%;
  aspect-ratio: 10/9;
  object-fit: cover;
}