:host {
  display: block;
  perspective: 600px;
}

.card {
  background-color: rgba(0,0,0,0);
  height: stretch;
  width: stretch;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
}

.face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.mat-icon {
  font-size: 100px;
  width: 100%;
  height: 100%;
}

.back {
  transform: rotateY(180deg);
}
