<mat-card appearance="outlined" class="fill-xy">
  <mat-card-header>
    <mat-card-title> Welcome to Cuddly Doodle! <button mat-button (click)="toggleParents()">Parents</button></mat-card-title>
  </mat-card-header>
  <mat-card-content appearance="outlined" class="fill-y">
    <mat-grid-list rowHeight="fit" [cols]="cols" gutterSize="5px" class="fill-y">
      @for (user of users; track user.id) {
        @if (user.isParent === parents) {
          <mat-grid-tile class="fill-xy">
            <app-task-list [user]="user" [tasks]="tasks[user.id]" class="fill-xy"></app-task-list>
          </mat-grid-tile>
        }
      }
    </mat-grid-list>
  </mat-card-content>
</mat-card>
