<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Welcome to Cuddly Doodle! </mat-card-title>
  </mat-card-header>
  <mat-card-content appearance="outlined">
    <mat-tab-group mat-stretch-tabs="false">
      <mat-tab label="First">
        Content 1
        <app-task-chip></app-task-chip>
        <app-task-chip></app-task-chip>
      </mat-tab>
      <mat-tab label="Second">
        Content 2
        <app-task-chip></app-task-chip>
        <app-task-chip></app-task-chip>
      </mat-tab>
      <mat-tab label="Third">
        Content 3
        <app-task-chip></app-task-chip>
        <app-task-chip></app-task-chip>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
